/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 86vh;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 10px;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  min-height: 130px;
  margin-top: 70px;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img.rotating-logo {
  animation: updown 3s linear infinite;
  width: 400px;
  height: 400px;
  border-radius: 60px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

.tech-skills-container {
  display: flex;
}

.tech-skills-icon {
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
}

.cta-see-projects {
  font-size: 20px;
  margin-top: 20px;
  position: relative;
}

.curriculum-download {
  font-size: 35px;
  margin-top: 40px;

}

.pdf-icon {
  margin-left: 10px;
  width: 35px;
}


.pdf-icon:hover {

  animation: pdfIcon 0.3s forwards;
  /* animation-fill-mode: forwards; */
  animation-iteration-count: 2;


}


.cta-see-projects span {
  position: absolute;
  top: -6px;
  left: 50%;
  width: 21px;
  height: 21px;
  margin-left: -5px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-45deg);
  animation: scrollArrow 2s infinite;
  box-sizing: border-box;
}

@keyframes scrollArrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-7px, 7px);
    opacity: 0;
  }
}

@keyframes pdfIcon {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25%{
    transform: rotate(5deg) translate(2px, 0);
  }
  50% {
    transform:  rotate(0deg) translate(0, 0);
  }
  75%{
    transform: rotate(-5deg) translate(-2px, 0);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*
@keyframes pdfIcon {
  0% {
    transform: rotate(0deg);
  }
  12%{
    transform: rotate(-5deg);
  }
  25% {
    transform:  rotate(-10deg);
  }
  38%{
    transform: rotate(-5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  62%{
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(10deg);
  }
  88% {
    transform: rotate(5deg);
  }
  100% {
    transform:  rotate(0px);
  }
}


 */

